<form action="/cria-post" method="POST">
    <p>Titulo:</p>
    <input type="text" name="titulo">
    <p>Conteúdo:</p>
    <textarea name="conteudo" id=""></textarea>
    <button type="submit">Cadastrar postagem</button>
</form>